body {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0;
}

header {
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
    height: 80px;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.main-content {
    padding: 0px 0;
    width: 1180px;
    margin: 0 auto;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.download-icon {
    width: 16px;
    height: 16px;
}

.sub-head-1 {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 40px;
    color: #303030;
}

.sub-head-2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 48px;
    color: #303030;
}

.sub-head-3 {
    font-size: 52px;
    font-weight: 900;
    color: #303030;
}

.content {
    font-size: 20px;
    color: #63738b;
    line-height: 36px;
}

.content1 {
    font-size: 18px;
    color: #63738b;
    line-height: 36px;
}

.content2 {
    padding-top: 5px;
    font-size: 20px;
    color: #63738b;
    line-height: 36px;
}

.row {
    display: flex;
    width: 590px;
    height: 128px;
}

.sn-icons {
    flex: 50%;
    margin-top: 70px;
}

.sn-icons a {
    color: #fff;
}

.sn-icons img {
    padding-top: 16px;
    float: left;
    width: 28px;
    height: 28px;
    margin-right: 40px;
}

.sn-icons1 {
    flex: 50%;
    margin-top: 70px;
}

.sn-icons1 a {
    color: #fff;
}

.sn-icons1 img {
    float: right;
    width: 200px;
    height: 64px;
    margin-right: 40px;
}

.sn-icons2 img {
    float: none;
    width: 320px;
    height: 64px;
    margin-right: 40px;
}

.sn-icons-bottom {
    margin-top: 30px;
}

.sn-icons-bottom a {
    color: #fff;
}

.sn-icons-bottom img {
    width: 28px;
    height: 28px;
    margin-right: 40px;
}

.top-nav {
    padding: 28px 0;
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    font-size: 20px;
    position: sticky;
}

.top-nav .left-nav {
    float: left;
    width: 554px;
}

.top-nav .left-nav a {
    margin-right: 30px;
    color: #aaaaaa;
    text-decoration: none;
}

.top-nav .left-nav a.active {
    color: #4169e1;
}

.top-nav .left-nav a:hover {
    color: #303030;
    transition: 0.2s;
}

.top-nav .middle-nav {
    float: none;
    width: 24px;
}

.top-nav .cnt-dtls {
    float: right;
    width: 554px;
}

.top-nav .cnt-dtls span {
    font-size: 16px;
    color: #303030;
    margin-left: 150px;
}

.top-nav .cnt-dtls a {
    margin-left: 30px;
}

.about {
    padding-top: 200px;
}

.about .about-dtls {
    display: inline-block;
    padding: 20px;
    width: 50%;
    vertical-align: top;
    margin-top: 10px;
}

.about .about-dtls div {
    display: block;
}

.about .about-dtls .cnt {
    margin-top: 20px;
}

.about .dis-pic {
    display: inline-block;
    margin-left: 35px;
}

.about .dis-pic img {
    width: 456px;
    height: 382px;
}

.exp {
    margin-top: 50px;
    padding: 20px;
}

.exp .cnt {
    margin-top: 20px;
}

.exp .exp-list {
    padding: 40px 0px;
}

.exp .exp-list .item-icon-dtls {
    width: 200px;
    display: inline-block;
}

.exp .exp-list .item-icon-dtls .wp-icon {
    width: 156px;
}

.exp .exp-list .item-icon-dtls .wp-desgn {
    font-weight: 900;
    color: #303030;
}

.exp .exp-list .content {
    display: inline-block;
    width: 800px;
    vertical-align: top;
}

.list-details {
    margin-top: 50px;
}

.list-details .list-item .grid-dis {
    width: 400px;
    height: 300px;
    background: #c5cad1;
    display: inline-block;
}

.list-details .list-item .grid-des {
    margin: 0px 48px;
    width: 520px;
    display: inline-block;
    vertical-align: top;
}

.list-details .list-item .grid-des p {
    margin-bottom: 0px;
}

.list-details .list-item .grid-des a {
    display: block;
}

.clmn-view {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.clmn-view .clmn-item .clmn-dis-img {
    border-radius: 10px;
}

.clmn-view .clmn-item .clmn-dis-img img {
    width: 360px;
}

.clmn-view-1 {
    margin-bottom: 80px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 90px;
}

.clmn-view-1 .clmn-item-1 .clmn-dis-img-1 {
    border-radius: 10px;
}

.clmn-view-1 .clmn-item-1 .clmn-dis-img-1 img {
    width: 520px;
}

.casestudy-list {
    padding: 76px 20px 10px 20px;
}

.casestudy-list-1 {
    padding: 76px 20px 20px 20px;
}

.work-list {
    margin-top: 100px;
    padding: 0px 0px 0px 20px;
}

.work-list-1 {
    padding: 160px 0px 0px 20px;
}

a {
    color: #4169e1;
    text-decoration: none;
    font-size: 18px;
}

a:visited {
    color: #4169e1;
}

p {
    margin: 20px 0px 0px 0px;
    padding: 0;
}

.mobile-view {
    margin: 0 auto;
    width: 50%;
    padding-top: 50%;
    text-align: center;
}

.mobile-view img {
    width: 80%;
}

.mobile-view p {
    margin: 40px 0px 0px 0px !important;
    padding: 0;
}

.download-button {
    background-color: #4169e1;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
}

@media only screen and (max-device-width: 600px) {
    body {
        background-color: white;
    }

    #main-content-page {
        display: none;
    }

    #top-nav {
        display: none;
    }

    #header {
        display: none;
    }
}

@media only screen and (min-device-width: 600px) {
    body {
        background-color: white;
    }

    #main-content-page {
        display: block;
    }

    #top-nav {
        display: block;
    }

    #header {
        display: block;
    }

    #mobile-view {
        display: none;
    }
}
